$primary: #171717;
$secondary: #faf7ff;
$accent1: #4d585f;
$accent2: #84a6a5;
$accent3: #1e1e1e;

// Fonts
$sans-ui: "Sora", sans-serif;
$sans-ui-opt: auto;
$sans-ui-wgt: 600;
$sans-ui-stl: normal;

$sans-text: "Geist Mono", monospace;
$sans-text-opt: auto;
$sans-text-wgt: 500;
$sans-text-stl: normal;
